.EducatorDashboard {
  padding-top: 20px;
}

.cancel-link {
  margin-top: 10px;
}

.invisible-button {
  background-color: transparent;
  border: none;
}

.DataDisplay-icon {
  background: transparent;
  width: 25px;
  height: 25px;
}

.DataDisplay-icon-small {
  background: transparent;
  width: 20px;
  height: 20px;
}

.icon-key-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  border-radius: 10px;
  /* background-color: rgba(var(--blue-50-rgb), .1); */
  border: 2px solid var(--blue-50);
  box-shadow: var(--box-shadow-main);
  margin-top: 15px;
}

.icon-key {
  display: flex;
  padding: 10px;
}

.icon-key-container .icon-key p {
  margin: 0 0 0 10px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center p {
  margin: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

th .invisible-button {
  padding: 0;
  margin: 0;
  height: 21px;
}

th .invisible-button:last-of-type {
  /* padding: 1px 0px; */
}