th {
  padding: 5px 15px;
}

td {
  padding: 2px 10px;
}

.DataDisplay {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.EducatorDashboard table,tr,th {
  border: 1px solid var(--gray-5);
  color: var(--gray-5);
}

.EducatorDashboard td {
  border: 1px solid var(--gray-5);
}

.EducatorDashboard table{
  border-collapse: collapse;
  border-radius: 10px;
  color: #555;
  font-size: inherit;
}

.EducatorDashboard tr:nth-child(2n+3){
  background-color: var(--blue-10);
}

.EducatorDashboard tr:nth-child(n + 3){
  transition: background-color 1s;
}

.EducatorDashboard tr:nth-child(n+3):hover{
  /* background-color: var(--blue-60); */
  background-color: var(--yellow-40);
}

.EducatorDashboard .table-header {
  background-color: var(--blue-30);
}