.Navbar {
  width: 100vw;
  height: 60px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 10px var(--gray-2);
}

.Navbar-logo {
  height: 30px;
}

.Navbar .button-blue {
  background-color: var(--educator-primary);
  border: none;
  border-radius: 10px;
  height: 40px;
  min-width: 100px;
  box-shadow: var(--box-shadow-button-dark);
  transition: all 0.1s;
  font-weight: var(--font-weight-bold);
}

.Navbar .button-blue:hover {
  background-color: var(--educator-dark);
  color: white;
  font-weight: var(--font-weight-bold);
}

.Navbar .button-yellow {
  background-color: var(--student-primary);
  border: none;
  border-radius: 10px;
  height: 40px;
  min-width: 100px;
  box-shadow: var(--box-shadow-button-light);
  transition: all 0.1s;
}

.Navbar .button-yellow:hover {
  background-color: var(--student-dark);
  font-weight: var(--font-weight-bold);
}


.Navbar a {
  text-decoration: none;
}

.Navbar.educator {
  background-color: var(--blue-10);
}

.Navbar.student {
  background-color: var(--yellow-10);
}