.EducatorSignup {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.EducatorSignup-form {
  display: flex;
  flex-direction: column;
}

.EducatorSignup input {
  min-width: 350px;
  text-align: center;
}

.EducatorSignup label {
  text-align: center;
}
