@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  /* colors used */
    --gray-1: #FDFDFD;
    --gray-2: #DDDDDD;
    --gray-3: #CCCCCC;
    --gray-4: #BBBBBB;
    --gray-5: #333333;
    --background-color: var(--gray-1);
    --text-color: var(--gray-5);
    --yellow-50: #fede86;
    --yellow-60: #fdd35d;
    --yellow-70: #FDC835;
    --student-primary: var(--yellow-50);
    --blue-50: #8ecdf2;
    --blue-60: #68bced;
    --blue-70: #42abe9;
    --educator-primary: var(--blue-50);
    --educator-dark: var(--blue-70);


    /* colors not yet used */
    /* --font-color: #242527;
    --font-secondary-color: #b0b8c3;
    --divider-color: #f0f2f5;
    --white: #fff;
    --black: #333;
    --black-6: #e5e7ed;
    --black-16: #c5c7d4;
    --silver: var(--black-6);
    --gray-light: var(--black-16);
    --gray-disabled: #d7dde4;
    --gray-text: #777b8b;
    --blue-90: #1477b0;
    --blue-80: #1786c7;
    --blue-70: #1a95de;
    --blue-60: #2ba1e6;
    --blue-50: #42abe9;
    --blue-20: #87c9f1;
    --blue-10: #cce8f9;
    --blue-5: #e3f2fc;
    --blue-1: #f6fbff;
    --blue-0: #f4fcff;
    --primary: var(--blue-50);
    --primary-dark: var(--blue-70);
    --primary-dark-deep: var(--blue-80);
    --primary-light: var(--blue-5);
    --primary-light-deep: var(--blue-10);

    --secondary-dark: var(--yellow-70);
    --secondary-dark-deep: var(--yellow-80); */
}

body {
  background-color: var(--background-color);
  /* background-color: white; */
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
}

.educator-primary {
  color: var(--educator-primary);
}

.educator-dark {
  color: var(--educator-dark);
}

.bold {
  font-weight: 600;
}

a {
  color: var(--blue-70);
  text-decoration: none;
}

a:hover {
  font-weight: 600;
}

.EducatorLogin .appear-as-link {
  background-color: var(--background-color);
  border: none;
  box-shadow: none;
}

.EducatorLogin .appear-as-link:hover {
  background-color: var(--background-color);
  border: none;
  box-shadow: none;
  color: var(--educator-dark);
  font-weight: 600;
}