@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  /* colors used */
    --gray-1: #FDFDFD;
    --gray-2: #DDDDDD;
    --gray-3: #CCCCCC;
    --gray-4: #BBBBBB;
    --gray-5: #333333;
    --background-color: var(--gray-1);
    --text-color: var(--gray-5);
    --yellow-10: #fffaeb;
    --yellow-40: #fee9ae;
    --yellow-50: #fede86;
    --yellow-60: #fdd35d;
    --yellow-70: #FDC835;
    --student-primary: var(--yellow-50);
    --student-dark: var(--yellow-70);
    --blue-10: #ecf7fd;
    --blue-20: #d9eefb;
    --blue-30: #c6e6f8;
    --blue-40: #b3ddf6;
    --blue-50: #a1d5f4;
    --blue-60: #8ecdf2;
    --blue-70: #7bc4f0;
    --blue-80: #68bced;
    --blue-90: #55b3eb;
    --blue-100: #42abe9;
    --blue-50-rgb: 142, 205, 242;
    --educator-primary: var(--blue-60);
    --educator-dark: var(--blue-100);

    /* font settings */
    --font-body: "Open Sans", sans-serif;
    --font-size-body: 1rem;
    --font-size-body-emphasized: 1.05rem;
    --font-weight-body: 400;
    --font-weight-bold: 600;
    --line-height-body: 1.5;

    /* box shadow */
    --box-shadow-main: 0px 0px 10px var(--gray-3);
    --box-shadow-button-dark: 5px 0px 10px var(--gray-4);
    --box-shadow-button-light: 3px 0px 7px var(--gray-3);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-body);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  line-height: var(--line-height-body);
  text-align: center;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

h6, h5, h4, h3, h2, h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.educator-primary {
  color: var(--educator-primary);
}

.educator-dark {
  color: var(--educator-dark);
}

.student-primary {
  color: var(--student-primary);
}

.student-dark {
  color: var(--student-dark);
}
.bold {
  font-weight: var(--font-weight-bold);
}

/* form containers: affects educator sign in/sign up, student sign-in */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  padding: 50px;
  max-width: 800px;
  min-width: 450px;
  box-shadow: var(--box-shadow-main);
}

.form-container form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.form-container form input {
  min-width: 350px;
  text-align: center;
  margin-bottom: 10px;
}

.form-container form label {
  text-align: center;
}

.link-blue {
  color: var(--blue-70);
  text-decoration: none;
  background-color: var(--background-color);
  border: none;
  transition: font-size 0.1s ease-in;
  transition: font-weight 0.1s ease-in;
}

.link-blue:hover {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-body-emphasized);
}

.button-blue {
  background-color: var(--educator-primary);
  border: none;
  border-radius: 10px;
  height: 40px;
  min-width: 150px;
  box-shadow: var(--box-shadow-button-dark);
  transition: all 0.1s;
}

.button-blue:hover {
  background-color: var(--educator-dark);
  color: white;
  font-weight: var(--font-weight-bold);
}

.form-container .button-yellow {
  background-color: var(--student-primary);
  border: none;
  border-radius: 10px;
  height: 40px;
  min-width: 150px;
  box-shadow: var(--box-shadow-button-light);
  transition: all 0.1s;
}

.form-container .button-yellow:hover {
  background-color: var(--student-dark);
  font-weight: var(--font-weight-bold);
}

#student-logout-button {
  margin-top: 30px;
}

.margin-top-10px {
  margin-top: 10px;
}