.EducatorLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  padding: 50px;
  max-width: 800px;
  box-shadow: 0px 0px 10px var(--gray-3);
}

.EducatorLogin-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.EducatorLogin input {
  min-width: 350px;
  text-align: center;
  margin-bottom: 10px;
}

.EducatorLogin label {
  text-align: center;
}

.EducatorLogin button {
  background-color: var(--educator-primary);
  width: 150px; 
  height: 40px;
  border-radius: 10px;
  /* border: 2px solid var(--blue-60); */
  border: none;
  box-shadow: 1px 2px 3px var(--gray-3);
  color: var(--gray-5);
}

.EducatorLogin button:hover {
  background-color: var(--blue-60);
  color: white;
}