.AssessmentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    max-width: 800px;
    min-width: 800px;
    /* box-shadow: var(--box-shadow-main); */
}

.AssessmentQuestion {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.AssessmentQuestion h5 {
    font-size: 3.5em;
    font-weight: var(--font-weight-bold);
    color: var(--gray-4-5);
}

.AssessmentQuestion .response-div {
    width: 150px;
    border-radius: 10px;
    margin: 0 40px;
    text-align: center;
    border: 3px solid var(--gray-3);
}

.assessment-container .button-yellow {
  background-color: var(--student-primary);
  border: none;
  border-radius: 10px;
  height: 60px;
  min-width: 150px;
  box-shadow: var(--box-shadow-button-light);
  transition: all 0.1s;
  font-size: 1.5em;
}

.assessment-container .button-yellow:hover {
  background-color: var(--student-dark);
  font-weight: var(--font-weight-bold);
}

.numbers-container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    padding: 20px 20px 0px 20px;
}

.assessment-container .numbers-container button {
    width: 60px;
    height: 90px;
    border-radius: 10px;
    margin: 5px;
    font-size: 2.2em;
    font-weight: var(--font-weight-bold);
    background-color: white;
    border: 3px solid var(--student-dark);
}

.assessment-container .numbers-container button:hover {
    background-color: var(--student-dark);
    box-shadow: var(--box-shadow-button-dark);
}

.assessment-container .numbers-container .invisible {
    width: 60px;
    height: 90px;
    border-radius: 10px;
    margin: 5px;
    font-size: 2.2em;
    font-weight: var(--font-weight-bold);
    background-color: white;
    border: none;
}

.assessment-container .numbers-container .invisible:hover {
    background-color: white;
    border: white;
    box-shadow: none;
}

.assessment-complete-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.strategies-container h5 {
    padding: 20px 20px 0 20px;
}

.strategy-buttons-container {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.strategy-buttons-container button {
    background: white;
    width: 135px;
    margin: 0px 5px;
    border-radius: 10px;
    background-color: var(--yellow-10);
    border: 3px solid var(--gray-4-5);
    color: inherit;
    font-weight: var(--font-weight-bold);
}

.strategy-buttons-container button:hover {
    background: var(--student-dark);
}

.strategy-buttons-container .strategy-icon {
    width: 90px;
}