.AssessmentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    max-width: 800px;
    min-width: 800px;
    /* box-shadow: var(--box-shadow-main); */
}

.AssessmentQuestion {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.AssessmentQuestion h5 {
    font-size: 3.5em;
    font-weight: var(--font-weight-bold);
    color: var(--gray-4-5);
}

.AssessmentQuestion .response-div {
    width: 150px;
    border-radius: 10px;
    margin-left: 30px;
    text-align: center;
    border: 3px solid var(--gray-3);
}

.NumberButtonsContainer .number-buttons-row {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    padding: 20px 20px 0px 20px;
}

.NumberButtonsContainer .number-buttons-row button {
    width: 60px;
    height: 90px;
    border-radius: 10px;
    margin: 5px;
    font-size: 2.2em;
    font-weight: var(--font-weight-bold);
    background-color: white;
    border: 3px solid var(--student-dark);
}

.NumberButtonsContainer .number-buttons-row button:hover {
    background-color: var(--student-dark);
    box-shadow: var(--box-shadow-button-dark);
}

.NumberButtonsContainer .number-buttons-row .invisible {
    width: 60px;
    height: 90px;
    border-radius: 10px;
    margin: 5px;
    font-size: 2.2em;
    font-weight: var(--font-weight-bold);
    background-color: white;
    border: none;
}

.NumberButtonsContainer .number-buttons-row .invisible:hover {
    background-color: white;
    border: white;
    box-shadow: none;
}

.assessment-complete-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.StrategyButtonsContainer h5 {
    padding-bottom: 20px;
}

.StrategyButtonsContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.StrategyButtonsContainer .strategy-buttons {
    display: flex;
    justify-content: space-evenly;
}

.StrategyButtonsContainer button {
    background: white;
    width: 135px;
    margin: 0px 5px;
    border-radius: 10px;
    background-color: var(--yellow-10);
    border: 3px solid var(--gray-4-5);
    color: inherit;
    font-weight: var(--font-weight-bold);
}

.StrategyButtonsContainer button:hover {
    background: var(--student-dark);
}

.StrategyButtonsContainer .strategy-icon {
    width: 90px;
}